<h1>Add Movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
  <%= f.association :movie, prompt: 'Select a movie'%>
  <%= f.button :submit, class: "btn btn-flat" %>
<% end %>
<%= link_to "Back to list", list_path(@list)  %>
